@font-face {
  font-family: 'OFL';
  src: url(fonts/OFL.txt);
  font-style: normal;
}

#scroll-animate {
  overflow: hidden;
}

#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage {
  left: 0;
}

#heightScroll {
  right: 0;
}

#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.header {
  height: auto;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: -2;
}

.header__logo-top {
  width: 100%;
  height: 180px;
}

.header__logo {
  height: 200px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.header__logo-name {
  width: 250px;
  height: 180px;
  font-size: 3vw;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
  color: #79d4f2b3;
  background-color: rgba(109, 109, 109, 0.259);
  box-shadow: 0px 0px 20px rgba(77, 75, 75, 0.5);
  padding: 50px 50px;
}

.header__logo-link {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #79d4f2b3;
  border-radius: 20px;
  margin-top: 25px;
}

.header__logo-link:hover {
  background-color: #79d4f2b3;
}

.header__logo-btn {
  width: 110px;
  height: auto;
}

.header__content-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: -1;
}

.header__content-bottom-name {
  font-size: 15vw;
  color: rgba(109, 109, 109, 0.453);
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

span {
  color: rgba(182, 163, 163, 0.628);
}

span:hover {
  color: rgba(244, 236, 236, 0.554);
}

.animate__animated.animate__bounce {
  animation: pulse;
  animation-duration: 5s;
}



/* ________________________ */

.content {
  height: 1900px;
  height: auto;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.content__container {
  width: 80%;
  height: 100%;
  /* background-color: rgba(44, 41, 41, 0.695); */
}

.content__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__list {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}

.content__link {
  font-size: 1.4vw;
  color: #c8c6c6e2;
}

.content__title {
  margin-top: 20px;
  margin-left: 20px;
  width: 120px;
  height: 10px;
  font-size: 1.3vw;
  background-color: rgba(109, 109, 109, 0.259);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.244);
  padding: 20px 10px;
}

.content__info {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0 20px 0;
  width: 100%;
  height: auto;
}

.content__text {
  width: 55%;
  padding: 0 0 0 20px;
}

.content__avator {
  margin-top: 40px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: grayscale(100%);
}

.content__btn,
.content__text,
.content__about-text,
.content__services,
.content_contacts {
  font-size: 22px;
  font-family: 'OFL';
  text-shadow: 2px 2px 4px rgba(62, 60, 60, 0.262);
  background-color: rgba(41, 38, 38, 0.542);
  color: #c6c0c0d9;
  border-radius: 2px;
}

.content__btn {
  width: 100%;
  margin: 50px 0;
  padding: 10px 0;
  text-align: center;
  transition: all 0.7s;
}

.content__btn:hover {
  background-color: rgba(41, 38, 38, 0.926);
  border: 1px solid #aaa5a557;
}


.content__btn-name {
  font-size: 2vw;
  color: #79d4f2b3;
  border-radius: 20px;
}

.content__photos {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 370px 370px;
  gap: 10px 10px;
}

.content__services {
  width: 95%;
  margin-top: 20px;
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.content__photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: grayscale(90%);
}

.content__photo-img:hover {
  filter: grayscale(0%);
}

/* .content_services-text {
  margin: 50px 30px 30px 30px;
} */

.content_services-span,
li {
  margin-bottom: 50px;
}

.content__contacts-title {
  font-size: 30px;
}

.content__contacts {
  padding: 50px;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.content__contacts-link {
  margin-right: 60px;
}




.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

header,
footer,
#scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}




/* _____adapt___ */



@media only screen and (max-width:960px) {
  .content__info {
    flex-direction: column;
    margin: 10px 0 20px 0;
    align-items: center;
  }

  .right-part {
    height: 360px;
    width: 420px;
  }

  .header__logo-name {
    width: 50px;
    height: 80px;
  }

  .header__content-bottom-name {
    font-size: 24vw;
  }

  .content__avator {
    margin-top: 0;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  }

  .content__text {
    width: 100%;
    font-size: 13px;
    line-height: 20px;
  }

  .content__btn {
    margin: 10px 0;
    padding: 0;
  }

  .content__services {
    width: 100%;
    font-size: 17px;
    line-height: 20px;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    padding-top: 0px;
  }

  .content_services-span,
  li {
    margin-bottom: 35px;
  }

  .content__photos {
    grid-template-rows: 200px 200px;
  }

  .content__btn-name {
    font-size: 7vw;
  }

  .content__contacts {
    padding: 30px;
    margin: 20px 0;
    flex-direction: column;
    align-items: start;
  }

  .content__contacts-title,
  .content__nav {
    font-size: 18px;
    width: 10px;
    height: 20px;
  }

  .content__contact-social {
    margin-top: 50px;
  }

  .fa-brands {
    width: 20px;
    height: 20px;
  }
}


@media only screen and (max-width:350px) {

  .content__contact-social {
    display: flex;
  }

  .content__contacts-title {
    font-size: 13px;
  }
}